/* Son pocos estilos para que no se fuerze tanto la vista */

body {
    background-color: rgb(81, 156, 231);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.borrar-tarea,
.borrar-tarea:hover {
    float: inline-end;
    cursor: pointer;
    color: red;
    font-weight: bold;
    padding: 15px;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}